div.chain-holder style="height: 600px;width: 500px;border: 1px black solid; margin:0 auto;"
  div.scrollable-content style="height: 580px;overflow: auto;background-color: white;"
    -cur_account_id = current_account.id
    ul.message-list data-value="#{current_account.id}"
      - @messages.each do |message|
        - if message.sender_id == cur_account_id
          li
            p style="color: blue" = "[#{message.sent_at}] You: #{message.body}"
        - else
          li
            p style="color: red" = "[#{message.sent_at}] Them: #{message.body}"

div.send-message style="width: 500px;margin: 0 auto;"
  = form_for @message ,:html => {:class =>"message_form"} do |f|
    fieldset
      legend Send Message

      .field
        = f.label :body
        = f.text_field :body  ,:placeholder => "Say something nice here!" , :autofocus => ''

      .field
        = f.hidden_field :receiver_id, value: params[:id]

      div align="center"
        .actions = f.submit 'Send'

= content_for :footer do
  javascript:
    var receiver_id = window.location.pathname.substr(1).split('/')[1]
    var request_url = receiver_id + "/get_chain"

    console.log(receiver_id)
    console.log(request_url)

    function updateMessages(messages) {
      var current_id = $(".message-list").data()
      $(".message-list").innerHTML = "";
      for (message in messages) {
        message = messages[message]
        console.log(message.body)
        if (message.sender_id === current_id) {
          message_body = "["+message.sent_at+"] You: "+ message.body
          message_color = "blue"
        }
        else {
          message_body = "["+message.sent_at+"] Them: "+ message.body
          message_color = "red"
        }

        $(".message-list").add("li").add("<p>"+message_body+"</p>").css("color", message_color)

      }
    }


    function getChain() {
      $.ajax({ url: request_url, data: $(this).data(), success: function(data) {
        if (data.length > 0) {
          messages = data
          console.log("Getting chain..")
          updateMessages(messages)
        }
        else {
          console.log("No Messages")
        }
    },
    error: function(data) {
      console.log("Error getting Messages")
      clearInterval(chainTimer)
    }
    })
    }

    getChain();

    chainTimer = setInterval(getChain, 2000);
