css:
  .nav li span {
    font-size:12px;
    text-align:center;
  }
  ul.nav {
    margin-top:0 !important
  }
  .app-wrapper {
      min-height:690px;
    }
    .nav-drawer {
      position:absolute;
    }
    .nav-drawer>.container {
      overflow:hidden;
      padding:0;
      min-height:690px;
    }
    .nav-drawer .nav {
      margin-top:8px;
    }
    .nav-drawer .admin-nav-group {
      margin-bottom:24px;
    }
    .nav-drawer .nav li {
      margin-bottom:11px;
      font-size:12px;
    }
    .nav-heading {
      margin-bottom:0;
      border:none;
    }
    @media (min-height:690px) {
      .nav-drawer {
        position:fixed;
      }
    }
.nav-drawer
  .container
    .nav-heading
      span PUBLIC
      
    .admin-nav-group style="margin-top:20px;"
      ul.nav style="margin:0 55px;"
        li 
          a href="/sign_in"
            i.icon.icon-user
            span Sign in
        