div.person
  p.status-tag Getting People near you...
  a.profile-picture-link href=""
    img.person-profile-picture src = ""

  div.person-info
    table align="left"
      tr
        td.strong Username
        td
          p.person-user_name
      tr
        td.strong Age
        td
          p.person-age
      tr
        td.strong Description
        td
          p.person-description

  div.rating-button-container
    a.rating.like-button href="#like" data-person_id=1
      p Like

    a.rating.dislike-button href="#dislike" data-person_id=1
      p Dislike

= content_for :footer do
  javascript:
    var counter = 0
    var people = new Array()
    function updatePage() {
      console.log(counter)
      console.log(people.length)
      console.log("")
      if (counter > people.length-1) {
        $(".status-tag").show();
        $(".status-tag").html("Looking for more matches..")
        $(".profile-picture-link").hide();
        $(".person-profile-picture").hide();
        $(".person-info").hide()
        //$(".person-user_name").hide();
        //$(".person-age").hide();
        //$(".person-description").hide();
        $(".rating.like-button").hide();
        $(".rating.dislike-button").hide();
        getPeople()
      }
      else {
        person = people[counter]
        $(".profile-picture-link").show();
        $(".person-profile-picture").show();
        $(".person-info").show()
        //$(".person-user_name").show();
        //$(".person-age").show();
        //$(".person-description").show();
        $(".rating.like-button").show();
        $(".rating.dislike-button").show();

        $(".profile-picture-link").attr('href', person.profile_image);
        $(".person-profile-picture").attr('src', person.profile_image);
        $(".person-user_name").html(person.user_name);
        $(".person-age").html(person.age);
        $(".person-description").html(person.description);
        $(".rating.like-button").attr("data-person_id", person.id)
        $(".rating.dislike-button").attr("data-person_id", person.id)
      }
    }

    function getPeople() {
      $.ajax({ url: "get_people", data: $(this).data(), success: function(data){
        if (data.length > 0) {
          console.log(data)
          people = data
          $(".status-tag").hide();
          updatePage()
        }
        else {
          $(".status-tag").show();
          $(".status-tag").html("Unable to find anyone else near you. Sorry about that!");
          $(".person").attr('style', "background-color: white;")
          $(".status-tag").attr('style', "text-align: center;")
          $(".profile-picture-link").hide();
          $(".person-profile-picture").hide();
          $(".person-info").hide();
          //$(".person-user_name").hide();
          //$(".person-age").hide();
          //$(".person-description").hide();
          $(".rating.like-button").hide();
          $(".rating.dislike-button").hide();
        }
      }, error: function(data) {
        $(".status-tag").show();
        $(".status-tag").html("Something went wrong when trying to find some people for you. Developers have been alerted.");
        $(".profile-picture-link").hide();
        $(".person-profile-picture").hide();
        $(".person-info").hide();
        //$(".person-user_name").hide();
        //$(".person-age").hide();
        //$(".person-description").hide();
        $(".rating.like-button").hide();
        $(".rating.dislike-button").hide();
      }, dataType: "json"});
    }

    $("a.like-button").on("click", function(evt) {
      var rated_person_id = $("a.rating.like-button").attr("data-person_id");
      $.ajax({ url: "like_person",
              type: "post",
              data: {rated_person_id: rated_person_id},
              success: function(data){
                         counter = counter + 1;
                         updatePage()
                       }});
    })

    $("a.dislike-button").on("click", function(evt) {
      var rated_person_id = $("a.dislike-button").attr("data-person_id");
      $.ajax({ url: "dislike_person",
              type: "post",
              data: {rated_person_id: rated_person_id},
              success: function(data){
                         counter = counter + 1;
                         updatePage()
                       }});
    })

    getPeople();
