<% flash.each do |name, msg| %>
  <% unless msg.empty? %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name %>">
        <%== msg %>
      </div>
    <% end %>
  <% end %>
<% end %>
